<div class="container">
    <div class="top-bar">
      <h1>View Employee</h1>
      <button routerLink='/home'><i class="bi bi-arrow-left-circle-fill icon"></i> Back</button>
    </div>
    <div class="bottom">
      <table>
        <tr>
          <td>
            <label><b>First Name</b></label>
          </td>
          <td>
            <span class="col-2">{{ userInfo.firstname }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <label><b>Last Name</b></label>
          </td>
          <td>
            <span class="col-2">{{ userInfo.lastname }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <label><b>Email</b></label>
          </td>
          <td>
            <span class="col-2">{{ userInfo.email }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <label><b>Address</b></label>
          </td>
          <td>
            <span class="col-2">{{ userInfo.address }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <label><b>Phone</b></label>
          </td>
          <td>
            <span class="col-2">{{ userInfo.phone }}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
