<!-- <div class="top-div">
    <form action="">
        <label for="firstname">Firstname</label>
        <input type="text" id="firstname">
        <label for="lastname">Lastname</label>
        <input type="text" id="lasttname">
        <label for="employeeid">EmployeeID</label>
        <input type="text" id="employeeid">
        <button type="submit">Submit</button>
    </form>
</div> -->

<div class="card">
   <div class="header">
    <h1>Manage Employees</h1>
    <div class="add-btn">
        <button routerLink='/add'><i class="bi bi-plus-circle icon"></i> ADD</button>
    </div>
   </div>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let employee of employees, let i = index">
            <td>{{ employee.firstname }}</td>
            <td>{{ employee.lastname }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.address }}</td>
            <td>{{ employee.phone }}</td>
            <td class="actions">
              <a routerLink='/view/{{employee.id}}' class="btn"><i class="bi bi-eye-fill"></i></a>
              <a routerLink='/edit/{{employee.id}}' class="btn"><i class="bi bi-pencil-square"></i></a>
              <a class="btn"><i class="bi bi-trash-fill" (click)="deleteEmployee(employee)"></i></a>
            </td>
        </tbody>
    </table>
</div>
